* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.box {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin: 0 2.5%;
	background: lightblue;
}

.label_wrapper {
	display: inline-block;
	width: 80px;
	text-align: right;
	margin: 0;
}

.widget_wrapper {
	margin: .5rem;
}

button {
	display: block;
	margin: 10px;
}